/* v-style-tab.css */
.tab-group {
    @apply relative;
}

.tab-container {
    @apply flex bg-slate-100 p-0.5 relative rounded-lg;
}

.tab-indicator {
    @apply absolute top-1 left-0.5 h-8 bg-white rounded-md shadow-sm transition-all duration-300 transform scale-x-0 translate-x-0 z-0;
}

.tab-link {
    @apply text-sm inline-block py-2 px-4 text-slate-800 transition-all duration-300 relative z-[1] mr-1;
}

.tab-link-active {
    @apply font-semibold;
}

.tab-content-container {
    @apply mt-4;
}

.tab-content {
    @apply text-slate-800;
}

.tab-content-hidden {
    @apply hidden;
}
.stepper-container {
    @apply w-full;
  }

  .stepper {
    @apply flex w-full items-center justify-between;
  }

  /* HAPUS `group` dari @apply */
  .step {
    @apply w-full flex items-center;
  }

  .step-circle {
    @apply relative grid h-10 w-10 place-items-center rounded-full bg-slate-200 
      group-data-[active=true]:bg-slate-800 group-data-[active=true]:text-white 
      group-data-[completed=true]:bg-slate-800 group-data-[completed=true]:text-white;
  }

  .step-line {
    @apply flex-1 h-1 bg-slate-200 group-data-[completed=true]:bg-slate-800;
  }

  .step-content {
    @apply hidden mt-8;
  }

  .step-content.active {
    @apply block;
  }

  .step-btn {
    @apply inline-flex items-center justify-center border font-medium text-center transition-all 
      duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed 
      text-sm rounded-md py-2 px-4 shadow-sm hover:shadow-md bg-slate-800 border-slate-800 
      text-slate-50 hover:bg-slate-700 hover:border-slate-700;
  }
  .btn-dropdown {
    @apply inline-flex select-none items-center justify-center rounded-md border border-slate-800 
           bg-slate-800 px-3.5 py-2.5 text-center align-middle font-sans text-sm 
           font-medium leading-none text-slate-50 transition-all duration-300 ease-in 
           hover:border-slate-700 hover:bg-slate-700 disabled:cursor-not-allowed 
           disabled:opacity-50 disabled:shadow-none;
  }
  
  .dropdown-menu {
    @apply mt-2 bg-white border border-slate-200 rounded-lg shadow-xl 
           shadow-slate-950/[0.025] p-1 z-10;
  }
  
  .dropdown-item {
    @apply block px-4 py-2 text-sm text-slate-600 hover:text-slate-800 
           hover:bg-slate-200 rounded-md;
  }
  